.service_section {
  background: #eee;
  padding: 20px;
}

.card_style {
  padding: 40px 20px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  transform: scale(1);
  background: white;
}

.card_style:hover {
  border-radius: 10px;
  border: 1px solid #aaaaaa;
  background: #fff;
  /* box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2); */
  box-shadow: 0px 28px 57px 0px rgba(190, 190, 190, 0.25);
  transition: all 0.25s ease;
}

.service_heading {
  color: #1f1f1f;

  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.service_sub_heading {
  color: #1f1f1f;

  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.service_description {
  color: #545454;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 36.343px */
}

@media (max-width: 576px) {
  .service_heading {
    color: #1f1f1f;
    margin-bottom: 0;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .service_description {
    color: #545454;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 36.343px */
  }
  .card_style {
    padding: 20px 10px;

}
  .card.card-side {
    display: block;
  }
  .card-body {
    padding-left: 0;
  }
  img {
    margin: auto;
    margin-bottom: 20px;
  }
  .card-body {
    align-items: center;
    margin-top: 20px;
  }
  p.service_description {
    text-align: center;
  }
}
