.image_left {
    width: 25%;
}

.content_right{
    width: 75%;
}

@media (max-width: 576px) {
  .image_left {
    display: none;
    width: 0;
  }

  .content_right {
    width: 100%;
    padding: 20px;

  }
}
